$centered-text: center;
$bg-grey: grey;
$container-width: 96%;
* {
  margin: 0;
}

header {
  text-align: $centered-text;
  padding: 25px 0;
  background: $bg-grey;
  border-bottom: 2px solid rgb(83, 82, 82);
}

main {
  margin: 40px 30px 20px 30px;
  padding: 25px;
  border-radius: 10px;
  background: $bg-grey;
  display: grid;
  grid-template-columns: minmax(300px, 4fr) minmax(200px, 1fr);
  column-gap: 30px;
  .blogs-container {
    grid-area: "blogs";
    background-color: rgb(211, 210, 210);
    border-radius: 10px;
    // width: 100%;
    padding: 15px;
    article {
      background-color: rgb(250, 248, 248);
      padding: 20px 30px;
      border-radius: 15px;
      margin: 20px 0;
      font-size: 17px;
      font-weight: 300;
      h2,
      p {
        margin: 5px 0;
      }
      p {
        font-size: 15px;
      }
      img {
        display: block;
        border-radius: 8px;
        max-width: 80%;
        background-size: cover;
        height: auto;
        margin: 10px 0;
      }
    }
  }
  .sidebar {
    background-color: rgb(211, 210, 210);
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
    form {
      h3 {
        font-size: larger;
        margin-bottom: 10px;
      }
      input,
      label {
        margin: 0 0 7px 0;
        font-weight: lighter;
      }
    }
    article,
    form {
      background-color: rgb(250, 248, 248);
      padding: 20px 30px;
      border-radius: 15px;
      margin: 20px 0;
      figure {
        img {
          float: left;
          border-radius: 8px;
          max-width: 80%;
          background-size: cover;
          height: auto;
          margin: 5px 10px 5px 0;
          clear: both;
        }
      }
    }
    .famous-post {
      h3 {
        margin: 0 0 10px 0;
      }
      img {
        width: 100%;
        height: auto;
        margin: 2px 0;
        object-fit: cover;
      }
    }
  }
}
section {
  background-color: $bg-grey;
  border-radius: 10px;
  width: $container-width;
  margin: 15px auto;
  text-align: center;
  padding: 20px 15px;
  h2 {
    margin: 20px 0;
    color: rgb(241, 239, 236);
  }
  form {
    display: flex;
    gap: 10px;
    justify-content: center;
    input,
    button {
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      flex: 0 0 80px;
    }
    button {
      background-color: rgb(43, 43, 39);
      color: white;
      cursor: pointer;
    }
  }
  .card-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    .card {
      height: 250px;
      width: 290px;
      border-radius: 7px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      flex: auto;
      p {
        position: absolute;
        font-size: larger;
        font-weight: 400;
        color: aqua;
        bottom: 50%;
        left: 45%;
      }
    }
  }
}

footer {
  background-color: $bg-grey;
  text-align: $centered-text;
  margin: 30px auto 0 auto;
  padding: 20px 10px;
  .footer-wrap {
    width: $container-width;
    .footer-icon,
    .policy {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 15px 0;
      a {
        text-decoration: none;
        color: azure;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    img {
      height: 35px;
      width: 40px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  * {
    margin: 0;
  }

  header {
    width: 100%;
  }
  main {
    box-sizing: border-box;
    margin: 40px 10px 20px 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .sidebar {
      figure {
        .about-me {
          height: fit-content;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  section {
    box-sizing: border-box;
    padding: 15px;
    margin: 10px auto;
    form {
      flex-direction: column;
      input,
      button {
        padding: 5px 5px;
        border-radius: 5px;
        border: none;
        flex: 0 0 15px;
      }
      button {
        background-color: rgb(43, 43, 39);
        color: white;
        cursor: pointer;
      }
    }
  }
  footer {
    .policy {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
